<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="20"
    android:versionName="1.1.0"
    package="com.hook.qianji.weekstart">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <application
        android:label="钱迹强制周一"
        android:description="@string/module_description"
        android:allowBackup="false">
    </application>
</manifest>
